# rpc nodes
BTC_NODE_URL=http://<bitcoin_node_url>:8332
BTC_NODE_USERNAME=admin
BTC_NODE_PASSWORD=

DOGE_NODE_URL=http://<dogecoin_node_url>:22555
DOGE_NODE_USERNAME=admin
DOGE_NODE_PASSWORD=

XRP_NODE_URL=http://<ripple_node_url>:51234

FLR_NODE_URL=http://<flare_node_url>:9650/ext/bc/C/rpc
SGB_NODE_URL=http://<songbird_node_url>:9650/ext/bc/C/rpc
ETH_NODE_URL=http://<ethereum_node_url>:8545

# set to a block number that was finalized 14 days before starting indexing
BTC_START_BLOCK_NUMBER=871200
DOGE_START_BLOCK_NUMBER=5469000
XRP_START_BLOCK_NUMBER=92240000

# set this to true if using verifiers on testnets
TESTNET=false

# keys that will be allowed to access verifier apis
VERIFIER_API_KEYS=key1,key2

# password for postgres database used by indexers and verifiers
BTC_DB_PASSWORD=dbpassword
DOGE_DB_PASSWORD=dbpassword
XRP_DB_PASSWORD=dbpassword
