# used in django
DJANGO_SETTINGS_MODULE=project.settings.remote
SECRET_KEY=unused
DB_NAME=db
DB_USER=db
DB_PASSWORD=${BTC_DB_PASSWORD}

# needed for remote
ALLOWED_HOST=*
EXPORT_METRICS=true
# SENTRY_DSN=dsn
# SENTRY_ENVIRONMENT=develop
# SENTRY_TRACES_SAMPLE_RATE=0.1
CORS_ALLOWED_ORIGINS=https://172.17.0.1
# ADMIN_EMAIL=email
# ADMIN_PASSWORD=email
USER_UID=10000
USER_GID=10000

# rpc node connection
NODE_RPC_URL=${BTC_NODE_URL}
AUTH_USERNAME=${BTC_NODE_USERNAME}
AUTH_PASSWORD=${BTC_NODE_PASSWORD}

SOURCE_NAME=btc

# optional
INDEXER_POLL_INTERVAL=10
INITIAL_BLOCK_HEIGHT=${BTC_START_BLOCK_NUMBER}
NUMBER_OF_BLOCK_CONFIRMATIONS=6
NUMBER_OF_WORKERS=10
PRUNE_KEEP_DAYS=15
PRUNE_INTERVAL_SECONDS=60
